@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.responsive-box {
  @apply container mx-auto px-5 max-md:px-3 max-sm:px-2;
}
button {
  @apply btn btn-accent text-white;
}
.title-text-lg {
  @apply text-center text-4xl font-semibold max-md:text-3xl max-sm:text-2xl;
}
.title-text-sm {
  @apply text-xl font-semibold;
}
